# Dependencies & Build Outputs
node_modules
.next
dist
build
coverage

# Package Manager Files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Public Assets & Static Files
public
*.min.css
*.min.js

# Environment Variables
.env
.env.*

# Git folder
.git